---
import type { GetStaticPaths } from 'astro';
// Código Server Side Only - Momento de construcción BUILD TIME
import PokemonCard from '../../components/pokemons/PokemonCard.astro';
import type { PokemonListResponse } from '../../interfaces/pokemon-list';

import Layout from '../../layouts/Layout.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const { results } = (await resp.json()) as PokemonListResponse;

  return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const title = 'Pokémon Static | Home';
const { page } = Astro.props;
---

<Layout title={title}>
  <h1 class="text-3xl">Listado de Pokémons</h1>
  <hr />

  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4"
  >
    {page.data.map(({ name, url }) => <PokemonCard name={name} url={url} />)}
  </section>

  <section class="flex mt-10 gap-2 items-center">
    <a
      href={page.url.prev}
      class={
        page.url.prev
          ? 'bg-blue-500 p-2 text-white rounded-md hover:bg-blue-600'
          : 'bg-gray-600 p-2 text-gray-400 rounded-md cursor-not-allowed'
      }
    >
      Anteriores
    </a>

    <a
      href={page.url.next}
      class={
        page.url.next
          ? 'bg-blue-500 p-2 text-white rounded-md hover:bg-blue-600'
          : 'bg-gray-600 p-2 text-gray-400 rounded-md cursor-not-allowed'
      }
    >
      Siguientes
    </a>

    <div class="flex flex-1"></div>

    <span class="text-xl font-bold">Página {page.currentPage}</span>
  </section>
</Layout>
